body{
    background-color: black;
}

p{
    color: #FFFAFA;
    font-size: 1.5em;
}



.container{
     width: 70%;
    margin: auto;
}

h2{
    color: 	#FF0000;
    text-align: center;
}



figure{
    text-align: center;
}


.img_topo{
    width: 50%;
}

.img_corpo{
    width: 60%;
}

ul li{
    color: #FFFAFA;
    font-size: 1.5em;
}

/* unvisited link */
a:link {
    color: 	#0000FF;
  }
  
  /* visited link */
  a:visited {
    color: 	#FF4500;
  }
  
  /* mouse over link */
  a:hover {
    color: 	#FFFF00;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

