body{
    background-color: black;
}

.menu, footer{
    background-color: rgb(255, 0, 0);
    padding: 1%;
}

.itens_menu{
    padding-top: 1%;
    line-height: 1.5;
    text-align: center;
    font: 1.3em;
}

p{
    color: #FFFAFA;
    font-size: 1.5em;
}

.container{
     width: 70%;
    margin: auto;
}

h1{
    font-size: 2em;
    color: #FFFF00;
    text-align: center;
    border-color: #FFFF00;
    border-style: groove;
}

h1, h2{
    text-align: center;
}

h2{
    font-size: 2em;
    color: 	#FF0000;
    text-align: center;
    border-color: red;
    border-style: groove;
}

figure{
    text-align: center;
}

.img_topo{
    width: 50%;
}

.img_corpo{
    width: 60%;
}

.img_autoral{
    width: 20%;
}

ul li{
    color: #FFFAFA;
    font-size: 1.5em;
}

a:link {
    color: 	#FFFF;
}
  
a:visited {
    color: 	#FFFF00;
}
  
a:hover {
    color: 	#FFFF00;
}
  
a:active {
    color: blue;
}

.itens_menu {
    padding-top: 1%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.3em;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.desc{
    padding: 15px;
    text-align: center;
}



