body{
    background-color: #FF0000              ;
}

p{
    color: #FFFAFA;
}



.container{

 width: 80%;
 margin: auto;
}

h2{
    text-align: center;
}

h1{
    color: #FFFF00;
text-align: center;
}

img{
width: 50%;
}

figure{
text-align: center;
}
